.conteiner{
    display: flex;
    flex-wrap: wrap;
    
}

header{
    background-color: brown;
    color: white;
    flex-basis: 100%;

    
}




.left{
    background-color: green;
    color: white;
    flex-basis: 25%;

    
    
    
}
.right{  
    background-color: pink;
    color: white;
    flex-basis: 25%;


}
p{
    background-color: aqua;
    color: white;
    flex-basis: 50%;
    margin: 0;
}
footer{
    background-color: blueviolet;
    color: white;
    flex-basis: 100%;
    
}
@media screen and(min-width:768) and (max-width:992) {
    .left{width: 100%;}
}
@media screen and(max-width:768px){
    .left{
        order: 2;
    width: 100%;
}
    .right{
        order: 3;
    width: 100%;
}
    p{
        order: 1;
        width: 100%;
    }
}

    
